@import "../../../styles/styles.scss";
.header{
    border : .20em $c-primary solid;
    border-radius: 10px;
    &-photo{
        display: flex;
        flex-direction: column;
        justify-content:center;
        .img{
            color: $c-primary;
            border: 0.05em solid $c-primary;
            width: 100px;
            height: 100px;
            border-radius: 50px;
            margin-bottom: 1em; 
            
        }
        .header-title{
            display: flex;
            flex-direction: column;
        }
        .name{
            font-size: larger
        }
        .position{
            font-size: medium;
        }  
    }
    
}

.bio{
    border-bottom: .20em $c-primary solid;
}