<a *ngIf="isSameUser" class="btn btn-outline-danger" routerLink="/core/profile/modifyprofile"><i class="fa fa-pencil mr-1"></i>Modify profile</a>
<section class="container  mt-5">
    <div class="header  p-2">
        <div class="header-photo"> 
            <img class="img "src="../../../assets/images/logoEAA.jpeg" alt="{{username}} photo"/>
            <div class="header-title ml-2">
                <span class="name">John DOE</span>
                <span class="position">student</span>
                
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <ul class="d-flex">
            <li class="mr-5">Location</li>
            <li class="mr-5">NumeroTel</li>
            <li class="mr-5">GI-2012</li>
        </ul>
    </div>
    <div class="row">
        <p class="bio">Biography</p>
        <p class="text-justify">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <div class="row justify-content-between">
        <a class="btn btn-outline-info" routerLink="/core/profile/viewcv"><i class="fa fa-eye mr-1"></i>View John Doe's cv</a>
        <a *ngIf="isSameUser" class="btn btn-outline-info" routerLink="/core/profile/modifycv"><i class="fa fa-pencil-alt mr-1"></i>Modify John Doe's cv</a>
    </div>
   
</section>