<section class="my-5">

    <div class="container d-flex justify-content-center">
        <div [ngClass]="onMobile ? 'w-100' : 'w-50'">
            <div class="card shadow-lg px-1 px-sm-5 pt-3 pb-5">
                <div class="d-flex justify-content-center">
                    <img src='assets/images/logoEAA.jpeg' width="125px" height="125px" alt="Site's logo" />
                </div>
                
                <div class="card-body">
                    <h5 class="card-title text-center"> Trouble signing in ?</h5>
                    <p class="card-text text-justify">
                        Resetting your password is easy. 
                        Just enter your email address, press the button below and follow the instructions.
                        We'll send you an email to reset your password in no time.
                            <i class="fa fa-weibo" aria-hidden="true"></i>
                    </p>
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" ngNativeValidate>
                        <div class="row">
                            <div class="col-12 ">
                                <div class="form-group">
                                    <input type="email" class="form-control" formControlName="email"  placeholder="Email address"  required/>  
                                </div>
                            </div> 
                        </div>
                        <div [ngClass]="{ 'd-flex justify-content-between': true, ' align-items-center ':!onMobile, 'flex-column':onMobile}">
                                <div class="">
                                    <a routerLink="/auth/signin" >Return to sign in</a>
                                </div>
                                <div class="mb-3 mb-sm-0 ">
                                    <button type="submit"
                                        class="btn--outline-primary"
                                        [ngClass]="{'btn--disabled':forgotPasswordForm.invalid}"
                                        [disabled]="forgotPasswordForm.invalid">Reset password</button> 
                                </div>
                            
                        </div>                            
                    </form>  
                </div>
            </div>
        </div>
    </div>
</section>