<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Glad to see you, John Doe !</li>
</ol>
<div class="row mb-2">
    <div class="col col-lg-3"><app-stat-card type='traffic'></app-stat-card></div>
    <div class="col col-lg-3"><app-stat-card type='post'></app-stat-card></div>
    <div class="col col-lg-3"><app-stat-card type='request'></app-stat-card></div>
    <div class="col col-lg-3"><app-stat-card type='report'></app-stat-card></div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Area Chart Example
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Bar Chart Example
            </div>
            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        
    </div>
</div>