<div class=" px-3 py-2 notif" [ngClass]="{'unread':!isRead}">
    <div class="notif-content  mr-2">
        <div class=""> <img src="../../assets/images/logoEAA.jpeg" width="50px" height="50px"/></div>
        <div>
            <div class="">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</div>
            <div class="notif-date small">1d</div>
        </div>
        
    </div>
    
    <div class="dropleft">
        <button type="button" id="notificationMenuBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn c--primary d-none d-lg-inline p-0"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
        <button type="button" id="notificationMenuBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn c--primary d-lg-none p-0 "><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
        <div class="dropdown-menu" aria-labelledby="notificationMenuBtn">
            <button class="dropdown-item" (click)="onReadNotification()">
            <i class="fas fa-check c--primary  mr-1" aria-hidden="true"></i>Mark as read
            </button>
            <button class="dropdown-item" (click)="onDeleteNotification()">
            <i class="fa fa-trash c--primary  mr-1" aria-hidden="true"></i>Delete this notification
            </button>
        </div>
    </div>
</div>