<section class="  p-3 m-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col text-center my-3">
                <img src="assets/images/logoEAA.jpeg" width="200" height="200" alt="Logo du site" />
            </div>

            <div class="col-lg-4 col p-4 m-sm-5 form" >
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email"
                        class="form-control"
                        id="email"
                        formControlName="email" />
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password"
                        class="form-control"
                        id="password"
                        formControlName="password" > 
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="check">
                        <label class="form-check-label" for="check">Check me out</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" 
                        [ngClass]="{'btn--disabled':loginForm.invalid}"
                        class="btn btn--outline-primary">Sign in</button>
                    </div>
                    <div class="text-center mt-2">
                        <a href="">Forgot password ?</a>
                    </div>  
                    <hr>
                    <div class="text-center mt-2">
                        <a href="">Don't have an account ? Sign up</a>
                    </div>   
                </form>
                
                <div class=" d-flex align-items-end flex-column mt-2 " >
                    <br>
                    <a href="">Go back to home</a>
                </div>
            </div>
        </div>

    </div>

</section>
