.user-card{
    border: .15em solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    .amount{
        font-weight: bold;
        font-size: 7em;
    }
    .description{
        width: 100%;
    }
}