@import "../../styles.scss";
@media screen and (max-width: 800px) {
    .hidden-sm{
      display: none;
    }
    nav {
        a{
            float: none;
            display: flex;
            
        }
        &--right{
            display: flex;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $c-primary;
    justify-content: space-between;
    height: 5em;
    &--right{
        display: flex;
        align-items: center;
    }
    a{
        text-align: center;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        &.fromleft{
            &::after{
                display: block;
                content: " ";
                border-bottom: 2px solid white;
                transform: scaleX(0);
                transition: transform  250ms ease-in-out;
                transform-origin: 0% 50%;
    
            }
            &:hover{
                &::after{
                    transform: scaleX(1);
                    
                }
            }
        }
    }
    .nav--right .dropdown-menu {
        background-color: $c-primary;
        a{
            text-align: center;
            padding: 12px;
            color: white;
            text-decoration: none;
            font-size: 17px;
            &.fromleft{
                &::after{
                    display: block;
                    content: " ";
                    border-bottom: 2px solid white;
                    transform: scaleX(0);
                    transition: transform  250ms ease-in-out;
                    transform-origin: 0% 50%;
        
                }
                &:hover{
                    background-color: $c-primary;
                    &::after{
                        transform: scaleX(1);
                        
                    }
                }
            }

        }
    }
    
  }
