<nav class="nav">
    <a class="navbar-brand" id="logo" href="index.html">
        <img src='assets/images/logoEAA.jpeg' width="50" height="50" alt="Logo du site" />
        <span class="hidden-sm">ENSPY-Alumni</span>
        
    </a>
    <a class="nav-link active" href="#"><i class="fa fa-fw fa-home"></i> <span class="hidden-sm">Home</span></a>
    <a class="nav-link" href="#"><i class="fa fa-fw fa-search"></i> <span class="hidden-sm">Search</span></a>
    <a class="nav-link" href="#"><i class="fa fa-fw fa-bell"></i> <span class="hidden-sm">Notifications</span></a>
    <div class="nav--right">
        <button type="button" class="dropdown-toggle" id="dropdown-icon" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"   >
          <i class="fas fa-cog"></i>
          <span class="hidden-sm">Settings</span>
        </button>
        <div class="dropdown-menu bg-light" aria-labelledby="dropdown-icon">
          
          <a class="dropdown-item" href="#">Switch language</a>
          <a class="dropdown-item" href="#">Invite a friend</a>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      <a class="nav-link" href="#"><i class="fa fa-fw fa-user"></i> <span class="hidden-sm">Profile</span></a> 
       
    </div>
    
</nav>