<ol class="breadcrumb mb-4 ">
    <li class="breadcrumb-item active">Users</li>
</ol>
<div class="row">
    <div class="col-3 d-flex align-items-center">
        <span>{{title}}</span>
        <app-number-circle [content]="167" [inNav]="false"></app-number-circle>
    </div>
    <div class="col ml-5 sort">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"><span>Sort by</span></a>
        <div class="dropdown-menu bg-light">
            <a class="dropdown-item" (click)="onSortAll()">All</a>
            <a class="dropdown-item" (click)="onSortAdmin()">Admins</a>
        </div>
    </div>
    <div class="col-3 search">
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search user..." />
                <button class="btn btn--primary" id="btnUserSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-7">
        <app-result-user-list [type]="typeList"></app-result-user-list>
    </div>
    
</div>