<section class=" p-3  m-0">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 col text-center my-3">
                <img src="assets/images/logoEAA.jpeg" width="200" height="200" alt="Logo du site" />
                <p class="quote">Let's reconnect !</p>
            </div>

            <div class="col-lg-4 col p-4 m-sm-5 form shadow-lg" >
                <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                    
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text"
                        class="form-control"
                        id="username"
                        formControlName="username" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password"
                        class="form-control"
                        id="password"
                        formControlName="password" > 
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="check">
                        <label class="form-check-label" for="check">Check me out</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" 
                        class="btn btn--outline-primary"
                        [ngClass]="{'btn--disabled':signinForm.invalid}"
                        >Sign in</button>
                    </div>
                    <div class="text-center mt-2">
                        <a routerLink="/forgotpassword">Forgot password ?</a>
                    </div>  
                    <hr>
                    <div class="text-center mt-2">
                        <a routerLink="/signup">Don't have an account ? Sign up</a>
                    </div>   
                </form>
                
                <div class=" d-flex align-items-end flex-column mt-2 " >
                    <br>
                    <a routerLink="/index">Go back to home</a>
                </div>
            </div>
        </div>

    </div>

</section>

