@import "../../../styles.scss";
.row{
    align-items: center;
}

.form{
    background-color: white;
    position: relative;
}

a{
    color: $c-primary;
}
.quote{
    margin-top: 1em;
    color: $c-primary;
}

@media screen and (max-width: 800px) {
    .row .form{
       margin-top: 2em;
       margin-bottom: 3em;
    }
    .quote{
        display: none;
    }
}