<section class="container p-5">
    <div class="row p-3">
        
        <div class=" e404 c--primary">4</div>
        <div class=" e404 c--secondary">0</div>
        <div class=" e404 c--primary">4</div>
       
    </div>
    <div class="row p-3">
        <p>Oops... It seems like the page you're asking for is not available for now !</p>
         
    </div>
    <div class="row p-3">
        
        <a role="button" (click)="onBackClicked()" class="btn btn--md btn--primary mx-5">Go back</a> 
    </div>
</section>
