<ol class="breadcrumb mb-4 ">
    <li class="breadcrumb-item active">Statistics</li>
</ol>
<section class="container p-2">
    <h4 class="bg-primary px-2 py-1 mb-3 text-white">Users</h4>
    <h5>Summary</h5>
    <div class="row justify-content-between">
        <div class="col-12 col-lg-4 my-2">
            <app-generic-stat-card [amount]="30" type="traffic" [description]="'users online' | uppercase"></app-generic-stat-card>
        </div>
        <div class="col-12 col-lg-4 my-2">
            <app-generic-stat-card [amount]="7" type="traffic" [description]="'administrators'| uppercase"></app-generic-stat-card>
        </div>
        <div class="col-12 col-lg-4 my-2">
            <app-generic-stat-card [amount]="130" type="traffic" [description]="'all users' | uppercase"></app-generic-stat-card>
        </div>
    </div>
    <h5>Charts</h5>
</section>
<section class="container my-5">
    <h4 class="bg-info px-2 py-1  text-white">Posts</h4>
    <h5>Summary</h5>
    <div class="row justify-content-between">
        <div class="col-12 col-lg-3 my-2">
            <app-generic-stat-card [amount]="30" type="post" [description]="'Events' | uppercase"></app-generic-stat-card>
        </div>
        <div class="col-12 col-lg-3 my-2">
            <app-generic-stat-card [amount]="7" type="post" [description]="'Offers'| uppercase"></app-generic-stat-card>
        </div>
        <div class="col-12 col-lg-3 my-2">
            <app-generic-stat-card [amount]="130" type="post" [description]="'Updates' | uppercase"></app-generic-stat-card>
        </div>
        <div class="col-12 col-lg-3 my-2">
            <app-generic-stat-card [amount]="130" type="post" [description]="'all posts' | uppercase"></app-generic-stat-card>
        </div>
    </div>
</section>
<section class="container my-5">
    <h4 class="bg-success px-2 text-white py-1">Sign up requests</h4>
    <h5>Summary</h5>
    <div class="row justify-content-between">
        <div class="col-12 col-lg-4 my-2">
            <app-generic-stat-card [amount]="30" type="request" [description]="'users online' | uppercase"></app-generic-stat-card>
        </div>
        <div class="col-12 col-lg-4 my-2">
            <app-generic-stat-card [amount]="7" type="request" [description]="'administrators'| uppercase"></app-generic-stat-card>
        </div>
        <div class="col-12 col-lg-4 my-2">
            <app-generic-stat-card [amount]="130" type="request" [description]="'all-type users' | uppercase"></app-generic-stat-card>
        </div>
    </div>
</section>
<section class="container">
    <h4 class="bg-danger px-2 text-white py-1">Reports</h4>
    <h5>Summary</h5>
    <div class="row justify-content-between">
        <div class="col-12 col-lg-3 my-2">
            <app-generic-stat-card [amount]="30" type="report" [description]="'comments reported' | uppercase"></app-generic-stat-card>
        </div>
        <div class="col-12 col-lg-3 my-2">
            <app-generic-stat-card [amount]="7" type="report" [description]="'posts reported'| uppercase"></app-generic-stat-card>
        </div>
        <div class="col-12 col-lg-3 my-2">
            <app-generic-stat-card [amount]="130" type="report" [description]="'profiles reported' | uppercase"></app-generic-stat-card>
        </div>
        <div class="col-12 col-lg-3 my-2">
            <app-generic-stat-card [amount]="130" type="report" [description]="'all reports' | uppercase"></app-generic-stat-card>
        </div>
    </div>
</section>
